@mixin button-defaults() {
    background-color: transparent;
    display: inline-block;
    margin: 0 auto;    
    text-align: center;
    transition: none;
    text-transform: uppercase;
    text-decoration: none!important;
	font-family: $open-sans;
	font-size: 11px;
    font-weight: 700;
	line-height: 20px;
	text-align: center;
    min-width: 160px;
    max-width: 280px;
    
    &:hover {
        background-color: transparent;   
    }
    
    /*
    @include breakpoint(medium) {
        display: inline-block;
        margin: 0;
        max-width: none;
    }
    */
            
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    } 
    
}


@mixin button-cta {
    @include button-defaults; 
    background: linear-gradient(270deg, #ED4399 0%, #F9B02D 100%);
    border-radius: 23px;  
    display: block;  
    min-width: 116px;              
    text-align: center;
    padding: rem-calc(6 15)!important;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1;

    color: #FFF;
    
    &:visited {
        color: #FFF;
    }
    
    &:focus,
    &:active,
    &:hover {
        background: linear-gradient(270deg, #F9B02D 0%, #ED4399 100%);
        color: #FFF;
    }  
}


.button.cta {
    @include button-cta;
}


.site-main {
 
    .button {
        width: 170px;   
    }
    
}

.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 auto 20px;   
    }
    
    @include breakpoint(medium) {
        a {
            margin: 0 10px $global-margin;   
        }
    }
    
}

