//
// Footer
// --------------------------------------------------


.site-footer {
    
    background: #ECECEC;
    
    @include breakpoint(xlarge) {
        background: linear-gradient(to right, #ECECEC 50%, #FFFFFF 50%);  
        position: relative;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width:   180px;
            height: 100%;
            background: linear-gradient(to right bottom, #ECECEC 50%, #FFFFFF 50%);   
        }   
    }
    
    .wrap {
        position: relative;
        z-index: 2;
        padding-top: rem-calc(30);
    }
    
    
    .widget {
        text-align: center;   
    }
    
    @include breakpoint(large) {
        .widget {
            text-align: left;   
        }
    }
    
    @include breakpoint(xlarge) {
        .footer-widgets-left {
            flex: 0 0 37%!important;
            max-width: 37%;
            padding-bottom: rem-calc(50);
            
            .column:last-child {
                flex: 0 0 auto;
                max-width: 100%;   
            }
        }
        
        .footer-widgets-center {
            flex: 0 0 24%!important;
            max-width: 24%;
            position: relative;
        }
        
        .footer-widgets-right {
            flex: 0 0 28%!important;
            max-width: 28%;
            margin-left: auto;
        }
    }

    .footer-icon {
        position: absolute;
        //height: 120%;
        width: 100%;
        bottom: -20px;
        //display: flex;
        //align-items: flex-end;
        
        img {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;   
        }
    }
}


.footer-widgets {
    
    position: relative;
    margin-bottom: rem-calc(10);
    
    @include breakpoint(xlarge) {
        margin-bottom: 0; 
    }
    
    .widget-title {
        color: $blue;
        margin-bottom: rem-calc(10);   
    }
    
    .widget_text {
        @include breakpoint(xlarge) {
            padding-top: rem-calc(60);
        }
        
        h3 {
           margin-bottom: rem-calc(30);  
           line-height: 1.36;
        }
        
        margin-bottom: rem-calc(50);
    }

    
    .menu {
        @include list-reset;
        
        li {
            display: block; 
            padding-bottom: rem-calc(15);  
            
            a {
                color: $dark-gray;
                padding: rem-calc(5 0); 
                font-size: rem-calc(18);  
                
                &:hover {
                    color: rgba( $dark-gray, .8);   
                }
            }
        }
    }
    
    .button {
        @include button-green-alt;   
    }
}


.footer-copyright {
    
    text-align: center;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    
    @include breakpoint(large) {
        text-align: left;
        position: relative;
        top: -20px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    @include breakpoint(xlarge) {
        text-align: left;
        position: relative;
        top: -40px;
    }
    
    p {
        color: #4A4A4A;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 8px; 
        
        span {
             display: block;
             margin-bottom: 10px;
             
             @include breakpoint(medium) {
                 display: inline;
                 margin: 0;
             }
        }
        
        b {
            font-weight: normal;
            
            @include breakpoint(small only) {
                display: none;
            }
        }
        
        a {
            color: $blue;
            text-decoration: underline;
        }

    }
   
      
}


.psc-locations-widget {
    
    .accordion {
        @include list-reset;           
    }
    
    .accordion-item {
        padding-bottom: rem-calc(10);   
    }
    
    .accordion-title {
        padding-left: rem-calc(26); 
        padding-bottom: rem-calc(5);
        position: relative;
        color: $dark-gray;
        font-size: rem-calc(18);
        letter-spacing: 0.7px;
        display: inline-block;
        
        &:hover {
            color: rgba( $dark-gray, .8);
            
            &:before {
                color: rgba( $dark-gray, .8);
            }
        }
        
        &:before {
            color: $dark-gray;
            
        }     
    }
    
    .accordion-item.is-active {
        color: rgba( $dark-gray, .8);        
    }
    
    .accordion-content {
        display: none; 
        padding: rem-calc(10 0);
        
        @include breakpoint(medium down) {
            margin: 0 auto;
            max-width: 280px;
        }
        
        @include breakpoint(large) {
            padding: rem-calc(10 20 10 0);
        }
        
        span {
            display: block;
            margin-bottom: rem-calc(5);   
        }
        
        li {
            font-size: rem-calc(13); 
            margin-bottom: rem-calc(20); 
            
            a {
                color: $dark-gray;   
            }
        }
        
        h5 {
            font-size: rem-calc(15);   
            font-weight: 600;
            margin-bottom: rem-calc(5);
        }
    }

}