// Footer CTA

.section-footer-cta {
    background-color: #fff;
    padding-top: 20px;
    
    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(#ED4399,.8) 0%, rgba(#F9B02D, .9) 100%); 
        }
    }
        
    .wrap {    
        text-align: center;
        position: relative;
        z-index: 2;
        
        header {
            @include breakpoint(medium down) {
                margin-bottom: rem-calc(15);   
                padding-top: rem-calc(30);
            }
        }
            
        h1,
        h2,
        h3,
        p {
            color: #fff;
            text-align: center;
        }
        
        h1,
        h2,
        p {
            margin-bottom: 0;
        }
        
        .button {
        }
    }
    
    @include breakpoint(large) {
        .shrink {
            flex: 0 0 auto!important;
        }
    }


    .element-photo {
        
        
        @include breakpoint(medium) {
            margin-bottom: auto;
        }
        
        @include breakpoint(large) {            
            img {
                max-width: 420px;  
            }
        }
        
    }

}