

.section-hero {
    
    position: relative;
    background-color: #fff;
    
    margin-top: 0;
    
    .wrap {
        
        width: 100%;
        height: 100%;
                
        .row {
            padding: 10px 0;   
        }
        
        .hero-caption {
            @include breakpoint(medium down) {
                position: relative;
                z-index: 3;
            }
        }
        
        header {
            position: relative;
            z-index: 3;  
        }
        
        h1 {
            color: #fff;
            margin-bottom: 0;
        }
        
        p {
            color: #fff;   
        }
    }
        
        
    .background-image {        
        background-size: cover;
        position: relative;  
        
        .container {
            display: flex;
            height: 100%;   
            width: 100%;
        } 
        
        .row {
            padding: 45px 0;   
        }
                
    } 
    
    
    .background-overlay {
        
        &:after {
            content: '';
            background-color: rgba( $gray, 0.5);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
    }   
    
}

