// About Page

.template-about {
    
    
    .section-hero {
        
        position: relative;
        @include wrap();
        @include border-left( 40%, 100%, #ffffff);
        
        .inner {
            min-height: 340px;
            padding-bottom: 25%;   
        }
        
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                background: linear-gradient(269.33deg, rgba(2,204,186,0) 0%, #2B70AA 100%);
            }
        }
        
        .wrap {
            
            .row {
                height: 100%;
                
                header:before {
                    display: none;   
                }
            }
        }
        
        .shape {
        
            width: 100%;
            height: 0;
            padding-top: 6%;
            position: relative;
            line-height: 0;
            
            svg {
                display: block;  
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
            }
            
             
        }
    
    }
    
    
    
    .section-mission {
        @include wrap(true, true);
        @include border-left( 0%, 100% ); 
        
        .wrap {
            padding-top: rem-calc(45);   
            padding-bottom: rem-calc(45);  
        }
        
        .header {
            @include breakpoint(large) {
                
                .column:first-child {
                    flex: 0 0 375px!important;     
                }
                
            }   
        }
        
        header {
            @include icon;               
        }
        
        .entry-content {
            p {
                color: #454C54;
                font-family: $header-font-family;
                font-size: 18px;
                letter-spacing: 0.7px;
                line-height: 1.444444444;
                
                span {
                    display: inline-block;
                    margin-left: -20px;
                    float: right;   
                    
                    @include breakpoint(large) {
                        padding-left: 20px;
                        float: none;
                        margin-left: 0;
                    }
                }
            }   
        }
    }
    
    
    
    .section-vision {
        @include wrap(true, true);
        @include border-left( 0%, 100%, white, false ); 
        
        .wrap {
            padding-right: 0!important;   
            padding-bottom: rem-calc(45);
        }
        
        header {
            @include icon;   
        }
        
        .panel {
            height: 100%;
            background-color: $orange;
            padding: rem-calc(45 30);
            
            h2,
            p {
                color: $white;   
            }
            
            h2 {
                margin-bottom: rem-calc(10);   
            }
            
            p {
                @include font-small(16,22);   
            }
        }
        
        .entry-content {
            height: 100%;
            background-color: $light-gray;
            padding: rem-calc(45 30);
            display: flex;
            align-items: center;
            
            ul {
                @include bullets;   
                
                li {
                    font-size: rem-calc(15);   
                }
            }
        }
    }
    
    
    .section-values {
        @include wrap(true, false);
        @include border-left( 0%, 100% ); 
        
        .header {
            
            padding-bottom: $global-margin;
            
            @include breakpoint(large) {
                
                .column:first-child {
                    flex: 0 0 375px!important;     
                }
                
            } 
            
            @include breakpoint(xlarge) {
                padding-right: calc((100vw - #{$global-width} - #{map-get($grid-column-gutter, large)}) /2 );
                .wrap {
                    padding-right: rem-calc(90);
                }   
            }
        }
        
        .header {
            margin-left: 0;   
        }
        
        header {
            @include icon;   
        }
        
        @media screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
                
            .description p,
            .entry-content {
                padding: rem-calc(0 30);   
            }
        }
        
        .description p {
            font-size: rem-calc(18);
            line-height: 1.444444444;
        }
        
        @include breakpoint(xlarge) {
            .description {
                max-width: 40%;   
            }
        }
    
        .content {
            @include breakpoint(large) {
                margin-left: 0;
                max-width: 100%;
                > .column:last-child {
                    margin-left: auto;   
                    padding-right: 0;
                    text-align: right;
                    
                    img {
                        max-height: 500px;
                        width: auto;   
                    }
                }  
                
                @include breakpoint(xxxlarge) {
                    > .column:last-child {
                        margin-top: -330px;

                    }   
                }
            }
            
            ul {
                @include list-reset;
                margin-bottom: rem-calc($global-margin);
                
                li {
                    padding-left: rem-calc(40); 
                    position: relative;
                    font-size: rem-calc(15);
                    min-height: 24px;
                    margin-bottom: rem-calc(10);
                    
                    &:before {
                        content: '';
                        display: block;
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        background-color: $blue;
                        position: absolute;
                        z-index: 3;
                        top: 6px;
                        left: 0;   
                    }
                }
            }
            
            
            
            @include breakpoint(xlarge) {
                
                ul {
                    li {
                        padding-left: 0;
                        &:before {
                            left: -49px;
                        }
                    }
                }
                                
            }
        }
       
    }
    
    
    .section-company {        
        .wrap {
            @include wrap(true, true);
        }
        
        .background-image {
            
        }
        
        .row {
            
            .column {
                min-height: 282px; 
                
                &:first-child {
                    .panel {
                        display: flex;
                        justify-content: center;
                        flex-direction: column; 
                    }
                }
                                
                &:last-child {
                    .panel {
                        
                        display: flex;
                        flex-direction: column;
                        
                        h3 {
                            margin-bottom: auto;
                        }
                        
                        p {
                            margin-top: auto;  
                        }   
                    }
                }
            }
            
            .tall {
                @include breakpoint(large) {
                    min-height: 412px;
                }
            }
            
            .panel {
                width: 100%;
                height: 100%; 
                text-align: center;
                
                h3,
                p {
                    color: $white;
                    padding: rem-calc(60);
                    margin-bottom: 0;
                }
                
            }
            
            .background-image {
                background-size: cover;
                background-position: center;  
                width: 100%;
                height: 100%; 
            }
            
            .column:first-child {
                .panel {
                    background-color: $orange;
                }
            }
            
            .column:last-child {
                .panel {
                    background-color: $green;
                    background-image: url("data:image/svg+xml,%3Csvg height='192' width='370' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.11 121.338l15.266 7.354-8.72 17.753-8.708 1.33-1.337 6.915-17.825 15.203-8.267 15.588L99.623 192l-10-2.64-3.499-8.639 10-40.31-8.267-7.354-3.896-15.599 4.689-7.624-4.247.665-6.104-7.805-5.22-2.594-12.164-4.32L50.87 80.181l-6.058-11.278V53.755l-10-16.873-12.65-7.85-7.825 4.365L0 40.31l9.116-7.354-5.662-1.275-2.129-7.41 6.5-5.2-6.5-.834 1.28-4.76h4.779L3.058 6.96 14.778 0l21.325 11.719 7.87-7.354 16.942 9.96 32.604-3.486v16.478l-13.057 2.595-2.605 6.97 12.65 13.388 3.012-.44 2.163-16.873 8.324-.44 3.443 9.52 4.337-2.606 9.603 21.283-13.499 6.034-10.441 5.64-8.267 11.279v5.639l-3.058.395-2.163-6.034-11.72 1.714-2.617 7.365 3.013 4.309 4.337-3.474 4.383.44-2.175 6.17 5.22.349 1.722 6.519 3.5 1.15 2.616-4.23 17.383 1.76 11.766 8.685zm206.053-3.88l-.928 7.354-6.229-2.29 1.144-3.959-6.852-.53-8.856 8.189-9.422 3.44 2.31 12.734-.894 2.56 3.454 1.929 13.94-3.43 5.436 3.17 2.571-1.41 1.676 5.155 7.123 1.985 5.13-3.136 2.877-15.283-7.746-7.714zm-34.54-7.094l7.384 1.41 3.408-10.49-1.993-1.714-10 6.214zm22.774-2.865l7.7 7.929 4.429.316 1.857-1.726 6.228 3.97-2.559-5.38-11.676-5.684zm13.986-64.459h-1.993l-.306 10.23-5.141 10.794-6.546 4.839-.26 4.23 11.947-7.095.566-7.354 3.986-3.7-3.136-2.515 1.72-5.989zm30.78 103.055l.895 7.93-8.856 8.289 5.708.564 5.084-7.703 3.987-5.38-2.57-.26zM171.592 26.652v8.245l5.753-2.515 1.642-2.516-6.24-11.978-3.67 2.56.216 3.215-3.488 4.14-.227 4.364h4.156zm52.161 97.37l-.272 9.215 3.715 1.624 3.726-11.053-.974-4.59zm128.15-96.31l.317 6.52-7.44 9.124-.26-10.264 9.637-11.64-5.923.88-7.746 6.215-9.422-.53-7.123 6.79 5.14 3.699-5.979 16.478-5.13.88-3.137 4.534 1.416 5.956-3.67 1.985-1.154-5.426-3.182-4.274L304 63.184l3.408 9.644-4.824 8.808-10.577.576-2.254 3.7 4.825 7.093-5.13 4.275-5.266-5.459-.182 5.155 4.598 5.109 1.993 9.068 5.708 2.03 7.746 3.136-14.292-2.56-5.968-5.685-5.402-7.67 7.339 3.7-3.398-6.249-.713-8.459-3.228.79-3.986-8.505-11.143 7.715v4.839l-3.975 3.97-5.142-12.779-5.662-6.824-13.714-2.56-3.975-3.395-1.993 1.15 2.83 6.824 4.553-2.29 5.98 4.546L224.5 93.355l-9.15-17.843-1.902.316 9.331 21.227 9.117-4.264-2.832 9.948-9.161 8.245 1.415 12.204-5.13 3.959-9.377 17.583-9.422 1.715-8.233-19.862 1.993-9.08-5.13-15.948-17.383 1.139-9.74-9.384 1.733-15.328 9.422-11.324 18.222-3.124 1.155 4.805 7.429 4.793 2.831-3.959 11.325 2.91 2.922-1.77 1.28-4.23-7.792-1.32-2.514-4.365-1.857-.925-1.597 5.516-3.5-4.365.227-3.654-4.643-3.7-2.786-1.365.215 3.7 5.798 3.868-3.012 3.486-4.156-5.55-2.967-3.44-6.942 3.44-4.859 7.625-7.35-1.15-.486-9.204 9.467.654-3.012-4.805-1.857-3.913 7.168-2.335 3.941-5.245 3.228-.26-.714-2.954 2.084-2.775 1.642 4.58 8.98.214 2.515-6.43 3.499 1.151-1.155-4.365 5.356-1.714-1.687-1.94-4.858 1.365-1.688-4.14-.215-.045.136-.27-.668-1.76 1.948-1.365 1.676-4.32-1.812-.26-3.013 3.655-2.514 5.504 2.786 3-2.786 7.354-4.156 1.59-2.299-7.32-4.824 2.741-2.299-1.364.17-7.095 4.201-3.225 3.454-8.493 8.8-4.805 21.902 4.004c25.254-2.64 71.085-7.49 71.085-7.49l75.694 10.625L370 20.403l-10.305 5.685zM222.156 56.485l-11.981-6.215-3.726 6.429 1.642 2.955 6.942-1.105 5.096 1.376zm12.65 7.793l-1.099-7.14-2.344-3.428 2.786-1.15v-3.44l-7.168 3.924 2.525 6.43-1.11 4.364zM131.423 8.414l-6.41-1.76-7.916 8.46 10.17 26.482 4.87 1.23.35-8.64 3.273-1.985.181-3.26 3.41-6.338-2.39-4.76z' fill='%23eff3f1' fill-rule='evenodd' opacity='.261'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center
                }
            }
               
        }
    }
    
    .section-our-story {        
        
        @include wrap(true, true);
        @include border-left( 0%, 100% ); 
        
        .container {
            
            .wrap {
                padding-top: rem-calc(25);   
            }
        }
        
        .primary {
            .wrap {
                
                &:before {
                    display: none!important;   
                }
                            
                @include breakpoint(xlarge) {
                    padding-left: 0!important;
                    padding-right: 0!important;
                }            
            }
        }
        
        .header {
            
            padding-bottom: $global-margin;
            
            @include breakpoint(large) {
                
                .column:first-child {
                    flex: 0 0 375px!important;     
                }
                
            }   
        }
        
        .description p {
            font-size: rem-calc(18);
            line-height: 1.444444444;
        }
        
        @include breakpoint(xlarge) {
            .description {
                max-width: 50%;   
            }
        }
        
        header {
            @include icon;   
        }
    }
    
    .section-leadership {
        
        padding-top: rem-calc(45);
        
        header {
            text-align: center;
            margin-bottom: rem-calc(20);
                        
            h2 {
                position: relative;   
                               
                &:after {
                    content: '';
                    display: block;
                    width: 70px;
                    background: $blue;
                    height: 2px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);  
                    margin-top: rem-calc(15);
 
                }
            }
        }
        
        .details {
            position: relative;
            
            h4 {
                color: #454C54;
            }
            
            p {
                color: #979797;   
            }
            
            .linkedin {
                position: absolute;
                top: 10px;
                right: 15px;
                width: 20px;
                height: 20px;
                color: #2d71a2;
            }
        }
        
        .filter-button-group {
            text-align: center; 
        }
        
        
        .accordion-title {
            padding-bottom: rem-calc(15);
            h4 {
                font-size: rem-calc(18);
                color: $blue;   
            }
        }
        
        .accordion-item .accordion-title:before {
            margin-top: -9.5px;
        }
        
        .accordion-content {
            padding-top: 0;
            
            > p:first-child,
            ul.links {
                margin-top: -9px;   
            }
            
            ul {
                @include bullets;   
            }
            
            > *:last-child {
                margin-bottom: 0;   
            }
        }
    }

}