// About Page

.template-about {
    
    .section-hero {
        
        .background-image {
            position: relative;
            
            @include breakpoint(large) {
                min-height: 50vh;
                padding: rem-calc(66 0 0); // sticky header height
            }
            
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(270deg, rgba(#ED4399, .8) 0%, rgba(#065D7F, .8) 100%);
            }
        }
        
        .wrap {
            position: relative;
            
            
            
            .align-middle  {
                height: 100%;
                padding: 0; 
                position: relative;
                z-index: 4;
            }
            
            .hero-caption {
                padding: rem-calc(45 0);   
                text-align: center;
                
                @include breakpoint(large) {
                    padding: rem-calc(45 0 100);
                }
            }
            
            
            .icon {
                span {
                    display: block;
                    margin: 0 auto 5px;
                    height: 90px;
                    width: 90px;
                    background: linear-gradient(270deg, #ED4399 0%, #F9B02D 100%);
                    box-shadow: 0 11px 12px 0 rgba(0,0,0,0.12);
                    position: relative;
                    border-radius: 50%;
                    
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);   
                    }
                }
            }
            
            
            h1,
            h2 {
                color: #fff;   
            }
                        
            h2 {
                 margin-bottom: 0; 
            }
            
            p {
                max-width: 600px;
                margin: 0 auto;   
            }
            
            p:first-child {
                margin-top: rem-calc(10);
            }

        }
        
        .shape {
            position: relative;
            z-index: 1;
            line-height: 0;
            bottom: 5%;
            
            svg,
            img {
                display: block;
                position: absolute;
                bottom: -2px;   
            }
        }
        
    }
    
    .section-founder {
        background-color: #f4f6f5;   
        padding: rem-calc(30 0 50);
        
        article {
            @include breakpoint(medium) {
                .column:last-child {
                    padding-left: rem-calc(65);
                }
            }
            @include breakpoint(large) {
                .column:first-child {
                    .photo {
                        margin-top: rem-calc(-90);   
                        position: relative;
                        z-index: 2;
                    }
                }            
            }
            
            .photo {
                display: inline-block;
                position: relative;
                
                .rectangle {
                    position: absolute; 
                }
                
                .orange-rectangle {
                    top: 0;
                    left: 0;
                    margin: rem-calc(-25 0 0 -25);  
                }
                
                .blue-rectangle {
                    bottom: 0;
                    right: 0;
                    margin: rem-calc(0 -25 -25 0); 
                }
                                
                > img {
                    box-shadow: 0 11px 12px 0 rgba(0,0,0,0.12);   
                    position: relative;
                    z-index: 2;
                }
            }
        }
        
        header {
            h6 {
                color: #4A4A4A;
                font-family: $open-sans; 
                margin-bottom: rem-calc(10);
                text-transform: none;  
            }
            
            .icon {
                a {
                    display: block;
                    width: 24px;
                    height: 24px;   
                }
            }
        }
    }
    
    
    .section-board {
        
        padding: rem-calc(75 0 0);
        
        header {
            text-align: center;  
            margin-bottom: rem-calc(60); 
        }
        
        article {
            
            margin-bottom: rem-calc(75);
            
            .panel {
                background: #fff;
                box-shadow: 0 11px 12px 0 rgba(0,0,0,0.1);
                border-radius: 0 0 8px 8px;   
                border-top: 7px solid #d7d7d7;
            }
            
            .details {
                padding: rem-calc(5 15 15 15);
                
                @include breakpoint(large) {
                    padding: rem-calc(5 30 15 30);
                }
                
                text-align: center;
                
                h5 {
                    color: #454C54; 
                    font-family: $open-sans;  
                    text-transform: none; 
                }
                
                p {
                    color: #4A4A4A;  
                    line-height: 1.5625;  
                }
            }
            
            .thumbnail {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border-radius: 50%;
                background-size: cover;
                background-position: center top;
                margin-top: -50px;
            }
            
            .icon {
                a {
                    display: block;
                    width: 24px;
                    height: 24px; 
                    margin: 0 auto;  
                }
            }
        }
    }
    
}