/* CSS Document */


.template-clients {
        
    .section-hero {
        position: relative;
        @include wrap();
        @include border-left( 40%, 100%, #ffffff);
        
        .inner {
            min-height: 340px;
            padding-bottom: 25%;   
        }
        
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                background: linear-gradient(269.33deg, rgba(2,204,186,0) 0%, #2B70AA 100%);
            }
        }
        
        .wrap {
            
            .row {
                height: 100%;
                
                header:before {
                    display: none;   
                }
            }
        }
        
        .shape {
            position: relative;
            width: 100%;
            z-index: 2;
            line-height: 0;
            height: 0;
            padding-bottom: 6%;
            
            svg,
            img {
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -2px;   
            }
        }
    }
        
    
    .section-industries {
        background: linear-gradient(180deg, #e5e5e5 0%, rgba(#e5e5e5,0) 100%);
        @include wrap();
        @include border-left( 0%, 100% ); 
        
        .wrap {
            padding-right: 0!important; 
            padding-top: rem-calc(45);  
        }
        
        .grid {
            position: relative;
            @include breakpoint(xlarge) {
                margin-left: -35px;
            }
            
            border-bottom: 1px solid $border-color;
            
            @include breakpoint(medium only) {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;  
                    width: 1px;
                    height: 100%;
                    background-color: $border-color; 
                }
                
            }
            
            @include breakpoint(large) {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(100%/3);  
                    width: 1px;
                    height: 100%;
                    background-color: $border-color; 
                }
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(200%/3);  
                    width: 1px;
                    height: 100%;
                    background-color: $border-color; 
                }
            }
        }
        
        .grid-item {
            
            .panel {
                @include icon;  
                
                @include breakpoint(large) {
                    padding: rem-calc(0 35);  
                }
                
                
                // icon style twekas, because they don't align well
                
                .icon {
                    
                    &.government img {
                        margin-top: -7px;   
                    }
                 
                    &.power-generation img {
                        margin-top: -7px; 
                        margin-left: -3px  
                    }
                    
                    &.transportation img {
                        margin-top: -4px;   
                    }
                    
                }
            }
            
            
        }
    }
    
    .section-clients {
        @include wrap();
        @include border-left( 0%, 100% ); 
        
        .wrap {
            padding-bottom: rem-calc(90)!important;   
        }
        
        .shrink {
            @include breakpoint(large) {
                flex: 0 0 auto!important;
            }
        }
        
        header {
            @include breakpoint(large) {
                text-align: left;   
            }
        }
        
        .filter-button-group {
            
            ul {
               @include breakpoint(large) {
                    text-align: right; 
               }
            }
            
        }
        
        .logo:hover {
        
            span {
                box-shadow: 1px 1px 6px 0 #979797;
                
                img {
                  transition: .5s ease-in-out;
                  filter: grayscale(0%);
                } 
                
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $blue;   
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }
            }
               
        }
        
        .logo {
            background-color: #fff;
            padding: rem-calc(0 5);
            margin: rem-calc(0 -5);
            
            
            a,
            span {
                display: block;
                padding: rem-calc(15);
                height: 126px;
                border: 1px solid #ECECEC;
                border-radius: 4px;
                position: relative;
                
                
                
                img {
                    display: block; 
                    border-bottom: 2px solid transparent; 
                    width: auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    
                }
                            
                img {
                  filter: grayscale(100%);
                }
            }
        }
        
        img {
            height: auto; 
            width: auto; 
            max-height: 100%;
            margin: 0 auto;
        }
    }

    
}