/* CSS Document */

.template-contact {
    .section-hero {
        background: linear-gradient(270deg, #ED4399 0%, #F9B02D 100%);
        text-align: center;  
        
        .wrap {
            padding-top: rem-calc(10);   
        }
        
        .edge {
            line-height: 1;
            
            img {
                display: block;   
            }
        }
    }
    
    .section.default,
    .section-default {
        padding: rem-calc(45 0 75);   
    }    
}