// Login

.template-forgot-password {
    .tabs-container .tabs li {
       flex: 1 0 100%;
    }
    
    form {
                
        label {
            @include screen-reader-text;   
        }
        
        p {
            margin: 16px 0 0 0;     
        }
        
        .login-submit {
            padding-top: 5px;   
        }
        
    }
    
    form + p {
        margin: 16px 0 0 0;   
        text-align: center;   
    }
}