//
// Front Page
//

.home {
    
    .section-hero {
        
        .inner {
            overflow: hidden;
            position: relative;
            height: 400px;
            padding-bottom: 30%;   
        }
        
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                background: linear-gradient(90deg, rgba(43,112,171,1) 17%, rgba(94,170,183,0.5) 55%, rgba(255,255,255,0) 85%);
            }
        }
        
        @include wrap();
        @include border-left( 20%, 120%, #ffffff);
        
        
        .row {
            height: 100%;
            padding: 45px 0;   
        }
        
        .hero-caption {
            position: relative;
            z-index: 3;  
            
            @include breakpoint(small only) {
                text-align: center;
            }
            
            h1,
            > * {
                color: #fff; 
            }

        }
        
        .shape {
            position: relative;
            z-index: 1;
            line-height: 0;
            bottom: 5%;
            
            svg,
            img {
                display: block;
                position: absolute;
                bottom: -2px;   
            }
        }
        
        .button {
            @include button-green;   
        }
        
    }
    
    
    
    .site-content {
        padding-bottom: 0;   
    }
    
}

.section-numbers {
    @include wrap();
    @include border-left( -30%, 110%);  
    background-image: url(assets/images/home/numbers/map.jpg);
    background-size: 50%;
    background-position: right top;
    overflow: hidden;
    
    @include breakpoint(large) {
        background-size: contain;
        background-position: right center;
    }
    
    .shape {
        position: relative;
        z-index: 2;
        line-height: 0;
        height: 0;
        padding-bottom: 5%;
        
        svg,
        img {
            display: block;
            position: absolute;
            left: 0;
            bottom: -2px;   
        }
    }
        
    .wrap {
        z-index: 2!important;
        padding-top: rem-calc(45);
        @include breakpoint(xxxlarge) {
            padding-top: 0;
        }
        
        @include breakpoint(medium down) {
            
        }
    }
    
    header {
        margin-bottom: rem-calc(45);
    }
    
    .grid {
        position: relative; 
                
        @include breakpoint(medium down) {
            
            margin-bottom: -25px;
                        
            .column { 
                
                position: relative;
            
                &:nth-of-type(-n+2) {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $light-gray;
                        
                    }
                }
                
                &:nth-child(odd) {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 10px;
                        width: 1px;
                        height: calc(100% + 40px);
                        background-color: $light-gray;
                        
                    }
                }
            }
                        
        }
        
        @include breakpoint(large) {
            margin-bottom: -75px;
        }
    }
    
    .grid-item {
                
        display: flex;        
        justify-content: center;
        
         &:nth-child(odd) {
             padding: rem-calc(0 10 0 0);
         }
         
         @include breakpoint(medium down) {
             flex-direction: column;
             text-align: center;
         }
        
        @include breakpoint(large) {
             border-right: 1px solid $light-gray;
             height: 175px;  
             padding: rem-calc(0 10 0 0);
        }
        
        h3 {
            color: $dark-gray;
            font-size: rem-calc(44); 
            line-height: 1.1;
            font-weight: 700;
            padding-right: rem-calc(10);  
            margin-bottom: rem-calc(20);
            
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
        
        p {
            letter-spacing: 0.7px;
            font-size: rem-calc(18);
            line-height: 1.44;
        }
    }
}

.section-what {
    @include wrap();
    @include border-left( -30%, 140%, $white); 
    background-color: $blue;
    position: relative;
    
    .shape {
        line-height: 1; 
        position: relative;
        
        svg {
            display: block;  
        }
    }
            
    .wrap {
        padding-top: rem-calc(45)!important;  
        padding-bottom: 175px!important; 
        
        
    }
        
    header {
        
        h2 {
            color: #fff;  
            margin-bottom: rem-calc(20); 
        }
    }
    
    p, 
    li {
        color: #fff;   
    }
    
    
    .grid {
        margin-top: rem-calc(25); 
        
        .column-block {
            margin-bottom: rem-calc(30);   
        }
    }
    
    .grid-item {
        
        display: block;
        
        @include breakpoint(small only) {
            text-align: center;   
            
            .icon {
                display: block;   
            }
        }
        
        @include breakpoint(medium) {
            display: flex;
            align-items: center;
        }
                
        .icon {
        margin-bottom: rem-calc(20);
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        display: block;
        border: 2px solid $blue;
        border-radius: 100%;
        line-height: 1;
        position: relative;
        
        img, svg {
            display: block;  
            position: absolute;
            height: 80px;
            max-width: 80%;
            max-height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        
        margin-top: 5px;
        margin-right: 20px;
        
        @include breakpoint(medium) {
            flex: 0 0 113px;
            width: 113px;
            min-height: 113px;
                        
            svg {
                height: 100px;
                max-width: 90%;   
                max-height: 90%;   
            }
        }
        
    }
          
        
        &:hover {
            opacity: .8352941176470588;   
        }
         
         
        
        h5 {
            color: #fff;
        }

    }

}

.home .section-why {
    position: relative;
    @include wrap();
    @include border-left( 0%, 150% ); 
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(25);
    
    @include breakpoint(large) {
        padding-top: 0;
    }
    
    &:before {
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        //z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
    }
    
    &:before {
        background: #fff;
        top: 0;
        transform: skewY(-4deg);
        transform-origin: 0 100%;
    }
}


.section-clients {
    @include wrap();
    @include border-left( 0%, 180% ); 
    
    .wrap {
        padding-bottom: rem-calc(45)!important;
        padding-top: rem-calc(45)!important;
        
        @include breakpoint(xlarge) {
            padding-top: rem-calc(90)!important;
            padding-right: 0!important;
        }
    }
    
    
    header {
        margin-bottom: rem-calc(30);
        text-align: center;
    }
    
        
    @include breakpoint(xlarge) {
        .logos {
            position: relative;
            z-index: 9;
            margin: rem-calc( 0 0 0 -80);   
        }
    }
    
    
    // Slick Slider
   
    
    @include breakpoint(xxlarge down) {
        .slick-arrows {
            display: flex;
            .slick-arrow {
                margin: rem-calc(0 10);
            }
            
            @include breakpoint(small only) {
                justify-content: center;
            }
            
            @include breakpoint(xlarge) {
                position: relative;
                margin-left: 80px;
            }
        }
    }
    
    .slick-prev,
    .slick-next {
        
        @include breakpoint(xxxlarge) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
        
    }
    
    .slick-prev {
        @include breakpoint(xxxlarge) {
            left: -60px;
        }
    }
    
    .slick-next {
        @include breakpoint(xxxlarge) {
            right: -60px;
        }
    }
    
    //.slick-current,
    .slick-slide:hover {
        
        .logo span {
            box-shadow: 1px 1px 6px 0 #979797;
            
            img {
              transition: .5s ease-in-out;
              filter: grayscale(0%);
            } 
            
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $blue;   
                position: absolute;
                left: 0;
                bottom: -1px;
            }
        }
           
    }
    
    .logo {
        background-color: #fff;
        padding: rem-calc(0 5);
        margin: rem-calc(0 -5);
        
        
        a,
        span {
            display: block;
            padding: rem-calc(15);
            height: 126px;
            border: 1px solid #ECECEC;
            border-radius: 4px;
            position: relative;
            
            
            
            img {
                display: block; 
                border-bottom: 2px solid transparent; 
                width: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                
            }
                        
            img {
              filter: grayscale(100%);
            }
        }
    }
    
    img {
        height: auto; 
        width: auto; 
        max-height: 100%;
        margin: 0 auto;
    }
    
}


.section-projects {
    @include wrap();
    @include border-left( 0%, 105% ); 
    
    .wrap {
        @include breakpoint(xlarge) {
            padding-right: 0!important;
        }
    }
    
    header {
        margin-bottom: rem-calc(35); 
        text-align: center;  
    }
    
    @include breakpoint(xlarge) {
        .projects {
            position: relative;
            z-index: 9;
            margin: rem-calc( 0 0 0 -80);   
        }
    }

    
}