/* CSS Document */


.single-job {
        
    .section-hero {
        position: relative;
        @include wrap();
        @include border-left( 15.5%, 120%, #ffffff);
        
        .background-image {
            @include breakpoint(xlarge) {
                padding-top: rem-calc(80);        
            }   
        }
        
        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: transparent;
            background: linear-gradient(269.33deg, rgba(2,204,186,0) 0%, #2B70AA 100%);
        }
        
        .wrap {
            min-height: 340px;
        }
        
        .shape {
            position: relative;
            width: 100%;
            z-index: 2;
            line-height: 0;
            height: 0;
            padding-bottom: 6%;
            margin-top: -6%;
            
            svg,
            img {
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;   
            }
        }
        
        .hero-caption {
            position: relative;
            z-index: 3;   
        }
        
        .description {
            color: #FFFFFF;
            margin-bottom: rem-calc(15);
            
            @include breakpoint(large) {
                margin-bottom: 0;   
            }
        }
        
        .actions {
            
            > * {
                margin-bottom: rem-calc(15);   
            }
            
            @include breakpoint(400) {
                
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                
                > *:first-child {
                    margin-right: rem-calc(20);   
                }
            }
            
            .button {
                @include button-green;
                padding: rem-calc(8 30);
                display: inline-block;
                margin: 0;
                min-width: 0;
            }
        }
        
        .share-icons { 
            
            li a {
                width: 34px;
                height: 34px;
                background-color: transparent;
                border-radius: 50%;
                border: 2px solid #fff;
                
                &:hover {
                    background-color: $white;
                    color: $blue;   
                }
            }
        }
        
    }
    
    .site-main {
     
        section {
            @include wrap(true, true);
            @include border-left( -30%, 130%);  
            
            .wrap {
                padding-top: 0!important;  
                padding-right: 0!important;
                padding-bottom: rem-calc(20)!important; 
            }
            
            &:last-child {
                @include wrap();
                @include border-left( 0%, 100%);  
            }
            
            header {
                position: relative;
                padding-top: rem-calc(15);
                @include icon;
                                        
                                
                h2 {
                    text-align: left;
                }
            }
            
            .entry-content {
                p {
                    font-size: rem-calc(18);
                    line-height: 1.444444444;   
                }
            }
            
        }
        
        
        .section-summary {
            
            padding-top: rem-calc(45)!important;
            
            .column:first-child {
                header {
                    margin-bottom: rem-calc(30);   
                }
            }
            
            .column:last-child {
                @include breakpoint(large) {
                    padding-top: rem-calc(45);
                    padding-left: rem-calc(map-get($grid-column-gutter, large)*3); 
                }
            }
        }
        
        
        .section-requirements {
            .icon {
                img, svg {
                    margin-top: -2px;
                    margin-right: -2px;    
                    @include breakpoint(medium) {
                        margin-top: -4px;
                        margin-right: -4px;    
                    }
                }
            }
        }
        
    }
    
    .section-apply {
        
        background-color: $navy;
                
        .wrap {
            
            padding: rem-calc(55 0 45);
            
            &:before {
                display: none!important;   
            }
        }
        
        @include breakpoint(large) { 
            .column:first-child {
                padding-left: rem-calc(100);   
            }
        }
        
        .entry-content {
            @include breakpoint(large) {
                padding-left: rem-calc(10);
            }
            
            h5,
            p {
                color: #fff;   
                font-size: rem-calc(18);
            }
            
            p {
                line-height: 1.444444444;
            }
            
            .share-icons { 
                margin-top: rem-calc(5);
                margin-bottom: 0;
                
                li {
                    
                    a {
                        width: 34px;
                        height: 34px;
                        background-color: transparent;
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }
                }
            }
        }
        
        header {
            @include icon;
            position: relative;
            padding-top: rem-calc(15);
            margin-bottom: rem-calc(30);
            
            .icon {
                border: 2px solid $white;   
            }
            
            h2,
            h5 {
                color: #fff;   
            }
            
            &:before {
                display: none!important;   
            }
           
        }  
        
        .gform_drop_instructions {
            color: #fff;
            font-size: 10px;   
        }
        
        .gform_wrapper input.button.gform_button_select_files {
            padding: 10px 15px!important;
            font-size: 11px!important;
            line-height: 20px;
            letter-spacing: 1.1px;
            border: 2px solid $white;  
            min-width: 190px;
            text-transform: uppercase;
            border-radius: 4px;
            &:focus,
            &:hover {
                background: transparent;   
            }
        }
        
        .ginput_container_fileupload .gform_drop_area {
           background-color: $blue;
           border: 2px dashed #FFFFFF!important;
           margin-top: 24px!important;
           
        } 
        
        .gfield_error .ginput_container_fileupload .gform_drop_area {
           border-color: rgba(255,223,224,.9)!important;
        }
        
        .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border: 1px solid rgba(255,223,224,.9)!important;
}
        
        .gfield_label,
        .gfield_description,
        .gfield_required {
            color: #fff;   
        }
        
        .gfield_description.validation_message {
            //padding: 0 0 16px!important;
            color: rgba(255,223,224,.9)!important;
        }
        
        .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error:not(.field_description_above) {
            //margin-top: 0!important;
        }
        
        .gform_wrapper ul.gform_fields li.gfield.gfield_error {
            margin-top: 16px!important;
        }
        
        .gform_wrapper .gfield_error .gfield_label {
            color: #fff!important;
        }
        
        
        .ginput_preview {
            background-color: $light-blue;
            padding: 10px 15px!important; 
            border-radius: 4px;
            color: #fff;
        }
        
        .gform_confirmation_message {
            color: #fff;   
        }
        
        .privacy .gfield_checkbox {
            label {
                color: #fff;
                
                a {
                    color: $light-blue;   
                }
            }
        }
        
        .gform_footer {
            input {
                border: 2px solid #fff;
                min-width: 200px!important;   
            }
        }
    }
    
    
    .go-back {
        
        a {
            padding-right: 28px;
            position: relative;
            
            svg {
                width: 21px;
                height: auto;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                
                .arrow {
                    fill: #d7d7d7;   
                }
                
                .line {
                    stroke: #d7d7d7;   
                }
            }
        }
    }
    
    .related-jobs {
        
        border-radius: 8px;
        box-shadow: 0 11px 12px 0 rgba(0,0,0,0.1);
        padding: rem-calc(15);
        margin-bottom: rem-calc(45);
        
        @include breakpoint(large) {
            padding: rem-calc(30);
            margin-bottom: 0;
            max-width: 374px;
            float:right;
        }
        
        h2 {
            margin-bottom: rem-calc(20);   
        }
        
        ul {
            
            
            li {
                
                margin-bottom: rem-calc(30);
                
                a {
                    span {
                        color: $blue; 
                        font-size: 18px;
                        line-height: 1.444444444;
                        letter-spacing: 0.7px;
                    }
                    
                    strong {
                        color: #4A4A4A;
                        display: block; 
                        font-size: rem-calc(16);
                        line-height: 1.5;  
                    }  
                }
            }
            
            
        }
           
    }
    
}