// Login

.template-login {
 
    .entry-content {
        
        form {
            padding-top: 19px; 
            
            *:not(.login-remember) {  
                label {
                    @include screen-reader-text;   
                }
            }
            
            p {
                margin: 16px 0 0 0;   
            }
        }
        
        form + p {
            margin: 16px 0 0 0;   
            text-align: center;   
        }

        #rememberme {
            margin-right: 5px;   
            position: relative;
            top: -1px;
        }
        
        
        .login-submit {
            
        }

        
    }
    
}