/* CSS Document */


.parent-my-account {
    
    .section-hero {
        background: linear-gradient(90deg, $orange 0%, $pink 100%);   
        
        text-align: center;  
        
        .wrap {
            padding-top: rem-calc(10);   
        }
        
        .edge {
            line-height: 1;
            
            img {
                display: block;   
            }
        }
    }
    
    
    .content-area {
        padding-bottom: rem-calc(75);   
    }
    
    .user-first-name {
        margin-bottom: rem-calc(30);   
    }

    .tabs-container {
        
        h5 {
            font-family: $open-sans;
            text-align: center;   
            color: $dark-gray;
            margin-bottom: rem-calc(5);
        }
        
        .steps {
            text-align: left;
            @include breakpoint(large) {
                display: flex;
                justify-content: space-between;
            }
            
            a {
                color: $orange;   
            }
        }
        
        .entry-content {
            min-height: 200px;   
        }
        
        .post-630 {
            .entry-content {
                max-width: rem-calc(600);
                margin: 0 auto;   
            }
        }
    }

}