html, body {
	height: 100%;
    
    .site-content {
        background: #fff;  
    }
      
}

#wpadminbar {
    z-index: 999999;   
}

.page-error-404 {
    .section-default {
        padding-top: rem-calc(45);   
    }
}

.page-template-default {
 
    .section-hero {
        
    }
    
    .section-default {
        padding: rem-calc(100 0);   
    }
    
}